@font-face {
    font-family: VCR Mono;
    src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}

body {
    background-color: rgb(26, 26, 26);
}

.header {
    width: auto;
    height: 400px;
    background-image: url("/img/Background.png");
}

.light-text {
    color: white;
}

.h-20px{
    height: 20px;
}

.w-light-text {
    padding-left: 70px;
    color: white;
}

.center{
    text-align: center;
}