@font-face {
    font-family: VCR Mono;
    src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}


body {
    background-color: rgb(0,0,20);
}

.normal {
    text-align: center;
    color: white;
    font-family: VCR Mono;
}

header {
    background-image: url(/img/ArkGameWPHXS.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.divider {
    background-color: white;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.center{
    text-align: center;
}

.p30 {
    padding-right: 30px;
    padding-left: 30px;
}

.fontc-black {
    color: black;
}

.download-title {
    background-color: rgba(0, 0, 20, 0.75);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.solo-9 {
    max-width: 700px;
}

.p30-top {
    padding-top: 30px;
}

.dark-text {
    color: whitesmoke;
}

.dark-backx {
    padding-top: 150px;
}

.bc-dark {
    font-family: VCR Mono;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.26);
}

.right-side-of-screen {
    margin-right: auto;
}

.pb-20 {
    padding-bottom: 20px;
}

.br-10 {
    border-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pt-80 {
    padding-top: 80px;
}

.pb-30 {
    padding-bottom: 30px;
}

.divider-40px {
    background-color: rgba(255, 255, 255, 0.40);
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-radius: 10px;
}